/* color palette from <https://github.com/vuejs/theme> */
:root {
  --bg-color: #121213;
  --primary-text-color: #ffffff;
  --secondary-text-color: #477aaa;
  --border-color: #3a3a3c;
  --keyboard-color: #808384;
  --correct-letter-color: #538d4e;
  --has-letter-color: #b49f3b;
  --not-letter-color: #3a3a3c;
  --bar-icon-color: #6baa64;

  --title-font: 'Roboto Slab', serif;
  --title-weight: black 900;

  --guess-font:
  'Zen Kaku Gothic Antique', sans-serif;
  --guess-weight: black 900;
}

body {
  background-color: var(--bg-color);
}
